body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid rgb(249, 156, 172);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(255, 208, 215);
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  button{
    background-color: rgb(254, 206, 214);
    border: 1px solid rgb(254, 206, 214);
    padding: 6px;
    border-radius: 4px;
    color: rgb(154, 154, 154);
  }
  button:hover{
    border: 1px solid rgb(253, 159, 175);
  }
  li{
    list-style: none;
  }
  